@import '../../styles/variables';

.header {
  font-family: 'Baloo Bhaina 2';
  color: $rtBlue;
  font-size: 30px;
}

.item {
  font-family: Lora;
  color: $rtBlack;
  font-size: 18px;
  padding: 7px 20px;
  cursor: pointer;
}

.active {
  background-color: $rtWhite;
  box-shadow: -2px 2px 5px $rtShadowGrey;
}