@import '../../styles/variables';

.container {
  height: 100px;
  background-color: $rtWhite;
  box-shadow: 0px 2px 5px $rtShadowGrey;
  flex-direction: row;
  align-items: center;
}

.header {
  color: $rtBlue;
  font-family: 'Baloo Bhaina 2';
  font-weight: 500;
  font-size: 35px;
  margin-left: 20px;
}

.clinicIcon {
  fill: RGB(25, 37, 171);
  margin-left: 30px;
  margin-top: -12px;
}